<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoeSuite.Properties.Hotkeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PoeSuite.Hotkeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PoeSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PoeSuite.Properties.Hotkeys>
            <setting name="Logout" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="OpenSettings" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="EnterHideout" serializeAs="String">
                <value>F5</value>
            </setting>
        </PoeSuite.Properties.Hotkeys>
        <PoeSuite.Properties.Settings>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="PoeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStartPoe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordRichPresence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="IncomingOverlayX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncomingOverlayY" serializeAs="String">
                <value>0</value>
            </setting>
        </PoeSuite.Properties.Settings>
    </userSettings>
</configuration>